@import '../../../global';

.list-item {
  border: 1px solid $c-gray;
  border-radius: 5px;
  background-color: $c-light-blue;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: $c-gray;
  }
  &__header {
    font-weight: bold;
    position: relative;
    padding-right: 3rem;
  }
  &__content {
    margin-top: 0.5rem;
  }
  &__icon {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    top: -1rem;
    float: right;
    display: block;
    text-align: center;
    bottom: 0;
    background-position: center;
    background-size: contain;
    span {
      position: relative;
      top: 25px;
    }
  }
}